.gitignore
*.o
*.out
*.out.pub
*.a
/Makefile
autom4te.cache/
buildpkg.sh
config.h
config.h.in
config.log
config.status
configure
ironscp
ironsftp
openbsd-compat/Makefile
openbsd-compat/regress/Makefile
openssh.xml
opensshd.init
regress/check-perm
regress/enc-dec-file
regress/misc/kexfuzz/kexfuzz
regress/modpipe
regress/netcat
regress/setuid-allowed
regress/unittests/bitmap/test_bitmap
regress/unittests/hostkeys/test_hostkeys
regress/unittests/kex/test_kex
regress/unittests/sshbuf/test_sshbuf
regress/unittests/sshkey/test_sshkey
regress/unittests/irongpg/test_irongpg
scp
sftp
sftp-server
ssh
ssh-add
ssh-agent
ssh-keygen
ssh-keyscan
ssh-keysign
ssh-pkcs11-helper
sshd
survey.sh
*.dSYM
