Source: ironssh
Section: net
Priority: optional
Maintainer: IronCore Labs <info@ironcorelabs.com>
Build-Depends: libsodium-dev, zlib1g-dev (>= 1:1.2.3), libssl-dev (>= 1.0.2), libedit-dev, debhelper (>= 9~), dh-exec, dpkg-dev (>= 1.16.1~), dh-autoreconf, autotools-dev, dh-systemd (>= 1.4)
Standards-Version: 3.9.6
Homepage: https://ironcorelabs.com/
Vcs-Git: git://github.com/IronCoreLabs/ironssh.git
Vcs-Browser: https://github.com/ironcorelabs/ironssh

Package: ironssh
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, dpkg (>= 1.7.0), openssh-client, libsodium | libsodium18 | libsodium13, libedit | libedit2
Description: The IronCore fork of OpenSSH adding transparent E2E encryption to file transfers
 IronSSH is a fork of OpenSSH that brings automatic end-to-end encryption
 to sftp and scp as ironsftp and ironscp. When uploading files to remote
 servers, they are encrypted in a GPG 2.1 compatible format using Curve25519
 crypto. Files may be shared with other users on the server.


